<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
<body>
<div class="container">

  <h2>Find images that contains following items</h2>

  <div class="search-box">
    <i class="uil uil-search"></i>
    <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search by keyword" class="search-bar">
    <button class="button" (click)="searchImages()">Search</button>
  </div>

  <div class="file-upload">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-uploader">
    <button class="send-button" (click)="uploadImage()">Send</button>
  </div>

  <div class="gallery" *ngIf="imageUrls.length > 0">
    <h4>Search Results</h4>
    <div class="parent">
      <div *ngFor="let imageUrl of imageUrls; let i = index" class="dynamic-div">
        <img [src]="imageUrl" alt="Found Image" class="img-thumbnail">
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <h4>{{ errorMessage }}</h4>
  </div>
</div>
</body>
